{% extends "BaseInterface.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block HeaderContainer %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SysadminBit</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="form-inline navbar-right sbnavbar-form" role="form">
              <div class="form-group has-success">
                  <div class="input-group col-xs-12">
                      <input class="form-control" accesskey="f" type="search" id="sb-search-modules" placeholder="Search">
                      <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                  </div>
              </div>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
{% endblock %}
{% block BoxContainer %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary sb-dragg-shortcuts">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-bookmark"></span> Quick Shortcuts</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                              <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br/>Apps</a>
                              <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span> <br/>Bookmarks</a>
                              <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-signal"></span> <br/>Reports</a>
                              <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br/>Comments</a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                              <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Users</a>
                              <a href="#" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-file"></span> <br/>Notes</a>
                              <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span> <br/>Photos</a>
                              <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-tag"></span> <br/>Tags</a>
                            </div>
                        </div>
                        <a href="http://www.jquery2dotnet.com/" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-globe"></span> Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block JSContainer %}
    <script type="text/javascript">
        SbUtils.Shortcuts('#sb-search-modules', 'focus');
        SbUtils.Dragg('.sb-dragg-shortcuts');
    </script>
{% endblock %}extends