/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 60px;
  padding-bottom: 20px;
}

.sbnavbar-form {
    margin-top: 8px;
}

#DataSearch {
    position: fixed;
    z-index: 4999;
    background-color: #ffffff;
    width: 20%;
}
