{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}SYSADMINBIT{% endblock %}
    </title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static  "css/sbiwakura.css" %}" rel="stylesheet">
    {% block StaticCss %}{%  endblock%}
    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/iwakura.js" %}"></script>
    <script src="{% static "js/sbutils.js" %}"></script>
    <script src="{% static "js/sbwindows.js" %}"></script>
    {% block StaticJs %}{%  endblock%}
</head>
<body style="font-size: 11px;">
{% block HeaderContainer %}
{% endblock %}
{% block BoxContainer %}

{% endblock %}
{% block FooterContainer %}{% endblock %}
{% block JSContainer %}{% endblock %}
</body>
</html>


